*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que largura e altura incluam bordas e padding */
    font-family: Inter;
    position: relative;
  }
  
html{
      scroll-behavior: smooth;
}
  
html, body {
    overflow: hidden;
  }
  
body {
      line-height: 1.5; 
      text-size-adjust: 100%; 
      background: #F9F9F9;
}
  
ul, ol {
      list-style: none;
}
  
a {
      text-decoration: none;
      color: inherit; 
}
  
img {
      max-width: 100%; 
      height: auto;
}
  
button {
      all: unset;
      cursor: pointer;
}
  
svg{
      overflow: hidden;
}
  
path{
      width: 100%;
      height: auto;
}

.center{
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}
.header{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}
.pageTitle{
    display: flex;
    min-width: 320px;
    max-width: 320px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}
.flightIcon{
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleReport{
    color: #1E1E1E;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
    letter-spacing: -0.352px;
}
.actions{
    display: flex;
    min-width: 400px;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 16px;
    flex: 1 0 0;
    flex-wrap: wrap;
}
.searchFieldBox{
    display: flex;
    padding: 14px 16px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #FEFEFE;
}
.searchIcon{
    display: flex;
    width: 16px;
    height: 16px;
    padding: 2.667px;
    justify-content: center;
    align-items: center;
}
.searchField{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: #717171;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15px */
    letter-spacing: -0.11px;
}
.searchField:focus{
    outline: none;
}
.actionBtn{
    display: flex;
    height: auto;
    padding: 16px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #1F1A99;
}
.boxIcon{
    display: flex;
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}
.textAddButton{
    color: #FEFEFE;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: -0.132px;
}
.details{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}
.cardDetails{
    display: flex;
    height: 76px;
    min-width: 216px;
    padding: 16px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px;
    background: #FEFEFE;
}
.detailsIcon1{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(0, 117, 246, 0.20);
}
.titleIcon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}
.textDetails{
    align-self: stretch;
    color: #1E1E1E;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.textInfoDetails{
    align-self: stretch;
    color: #1E1E1E;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.detailsIcon2{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(215, 0, 0, 0.20);
}
.detailsIcon3{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 139, 38, 0.20)
}
.detailsIcon4{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(0, 135, 7, 0.20);
}
/* .titleSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
} */
.partFilterOrder{
    display: flex;
    row-gap: 8px;
    align-self: flex-end;
    flex-wrap: wrap;
}
.btns{
    display: flex;
    z-index: 2;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;
    gap: 16px;
    flex: 1 0 0;
}
.clicked{
    background: #E4E4E4;
    border: none; 
    outline: none;
}
.clickedText{
    color: #1E1E1E;
}
#svgAlt{
    display: none;
}
.submitCancelBotao{
    display: flex;
    position: relative;
    width: fit-content;
    height: 36px;
    padding: 8px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    /* overflow: hidden; */
    border: 1px solid #717171; 
    gap: 8px;
    text-decoration: none;  
    color: #717171;
    text-align: center;
    font-family: Inter;
    font-size: clamp(10px, 1vw, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}
.submitCancelBotao.active{
    background: #0075F6;
    border: none;
    color: #FEFEFE;
}
.submitCancelBotao.active svg path{
    fill: #fefefe; 
}
.dot{
    display: flex;
    width: 12px;
    height: 12px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: -2px;
    right: -6px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    background: #0075F6;
}
.flightsList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.nothingToShow{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.textNothing{
    color: #1E1E1E;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.176px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.titleTable{
    display: flex;
    min-width: 504px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #0075F6;
}
.id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}
.textTableId{
    align-self: stretch;
    color: #FEFEFE;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.date{
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
}
.textTableDate{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex: 1 0 0;
    overflow: hidden;
    color: #FEFEFE;
    leading-trim: both;
    text-edge: cap;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.baseTable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}
.textTableBase{
    flex: 1 0 0;
    color: #FEFEFE;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.secondaryBaseTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}
.textTableSecondary{
    display: flex;
    height: 9px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #FEFEFE;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.actionsSecondary{
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    gap: 10px;
}
.flightCards{
    display: flex;
    /* min-width: 504px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.flightCard{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #FEFEFE;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.IdText{
    align-self: stretch;
    color: #1E1E1E;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.textDate{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex: 1 0 0;
    overflow: hidden;
    color: #1E1E1E;
    leading-trim: both;
    text-edge: cap;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.textTime{
    flex: 1 0 0;
    color: #717171;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.profilePic{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #FEFEFE;
}
.profPicture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 40px;
}
.successLevel{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2px;
    align-self: stretch;
    flex-wrap: wrap;
}
.starIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.accident{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}
.successIcon{
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(0, 135, 7, 0.20);
}
.telemetry{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    opacity: 0.88;
}
.textLink{
    flex: 1 0 0;
    color: #0075F6;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.errorIcon{
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(215, 0, 0, 0.20);
}
.pagination{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
    border-radius: 8px;
}
.paginatorControls{
    display: flex;
    /* width: Fill (720px)px;
    height: Hug (48px)px; */
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    /* justify-content: space-between; */
    opacity: 0px;
    /* background: #fefefe; */
}
.paginatorPreviousNext{
    color: #717171;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: -0.154px;
}
.paginatorNumber{
    display: flex;
    color: #717171;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: -0.154px;
}
.paginatorNumber a{
    display: flex;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.paginatorNumber a:hover{
    opacity: 70%;
}
.paginatorNumberActive{
    color: #fefefe;
    background: #0075F6;
}
.tableCenter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    flex: 1 0 0;
    align-self: stretch;
}