modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
  }

.modal-content{
    /* background: white; */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); 
  font-family: Inter;
}
.modal-content {
  background: #FEFEFE;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 90%;
  max-width: 600px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  overflow: hidden;
  overflow-y: auto;
  /* clip-path: border-box; */
}
.mainNewFlight{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}
.close-btn {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  font-size: 30px;
  cursor: pointer;
  color: #888;
}
.close-btn:hover {
  color: #333;
}
.head-label{
  color: #1E1E1E;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.264px;
  align-self: stretch;
}
.ataLabel{
  color: #1E1E1E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.modal-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
}
.statusData{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px 8px;
    align-self: stretch;
    flex-wrap: wrap;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.title-form{
  color: #1E1E1E;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.132px;
}
.mainNewText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}
.Titulo-input{
  display: flex;
  flex: 1 0 0;
  width: 100%;
  height: 40px !important;
  padding:  12px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
  border: none;
  outline: none;
}
.Titulo-input.minText{
  padding: 0;
  padding-inline: 16px;
}
.Titulo-input:focus{
  border: none;
  outline: none;
}
input:focus{
  border: none;
  outline: none;
}
.svgDiv{
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
.objetivo-input{
  display: flex;
  resize: none;
  border: none;
  font-family: Inter;
  width: 100%;
  height: 114px;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
}
.statusData{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px 8px;
    align-self: stretch;
    flex-wrap: wrap;
}
.data{
    display: flex;
    min-width: 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}
.textData{
    align-self: stretch;
    color: #1E1E1E;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.132px;
}
.option_field{
  display: flex;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
  border: none;
}
.local-input{
    display: flex;
    width: 100%;
    /* height: 40px; */
    /* padding: 12px 16px; */
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #F2F2F2;
    border: none;
    outline: none;
}
.local-input:focus{
    border: none;
    outline: none;
}
.data-input{
  display: flex;
  width: 100%;
  height: 100%;
  padding-block: 12px;
  align-items: center;
  align-self: stretch;
  background: none;
  border: none;
}
.button-form{
  display: flex;
  /* height: 33px; */
  /* width: 100%; */
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  background: #1F1A99;
  color: #FEFEFE;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18px */
  letter-spacing: -0.132px;
  border: none;
  margin-top: -32px;
}
.plus-people{
  all: unset;
  display: flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: 2px solid #FEFEFE;
  background-color: #0075F6;
  cursor: pointer;
  z-index: 5;
}

.remove-selected{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(215, 0, 0, 0.46);
  width: 32px;
  height: 32px;
}

.description-task{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  min-width: 200px;
}

.setMembers{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.pilotSelected{
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 16px;
  border-radius: 50px;
  background: #0075F6;
}
.namePicture{
  display: flex;
  align-items: center;
  gap: 8px;
}
.profilePic{
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 53px;
}
.Pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.namePilot{
  color: #FEFEFE;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18px */
  letter-spacing: -0.132px;
}
.deleteTask{
  display: flex;
  width: 24px;
  height: 24px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 33px;
  background: #FEFEFE;
}
.trashIcon{
  display: flex;
  /* width: 14px;
  height: 14px; */
  padding: 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.peopleMeetings{
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px -8px;
  align-self: stretch;
  flex-wrap: wrap;
}
.description{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.inputText{
  display: flex;
  width: 100%;
  /* height: 114px; */
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
  border: none;
  outline: none;
}
.publishButton{
  display: flex;
  /* height: 33px; */
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #1F1A99;
}
.textSubmitButton{
  color: #FEFEFE;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
  letter-spacing: -0.132px;
}
.minText{
  color: #1E1E1E;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: -0.154px;
}
textarea{
  resize: none;
}
.star{
  stroke: #808080; 
}
.star.selected{
  fill: #0075F6;
  stroke: #0075F6; 
}
#ratingText{
  color: #0075F6;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.132px;
}
.orgSuccess{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.accidentSelector{
  display: flex;
  min-width: 200px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.myCheckbox{
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #AEAEAE;
  background: #0075F6;
}
.textAccident{
  /* flex: 1 0 0; */
  color: #1E1E1E;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.132px;
}
.accidentBox{
  display: none;
}
.orgInputs{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
#descriptionAccident{
  display: flex;
  height: 114px;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
  outline: none;
  border: none;
  resize: none;
}
textarea:focus{
  outline: none;
  border: none;
}
textarea::placeholder{
  color: #717171;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.132px;
}
.dataFlight{
  display: flex;
  position: relative;
  min-width: 200px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.additionalInputs{
  width: 100%;
}
.dropdownFlight{
  display: flex;
  width: 100%;
  /* height: auto; */
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
  border: none;
  outline: none;
  cursor: pointer;
}
.dropdownMenu{
    display: none;
    position: absolute;
    width: 100%;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: left;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 8px;
    background: #F2F2F2;
    border: none;
    outline: none;
}
.dropdownMenu label{
  display: block;
  cursor: pointer;
}
select.placeholder{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: #717171;
  leading-trim: both;
  text-edge: cap;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.132px;
}
.dropdownFlight:focus{
  border: none;
  outline: none;
}

.container {
  width: 350px;
  margin: 250px auto;
}
.custom-combobox-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
  cursor: pointer;
  background: #F2F2F2;
  border-radius: 8px;
}
.custom-combobox {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}
.arrowSvg{
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-combobox input[type="text"] {
  width: 95%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.options-container {
  display: none;
  width: 100%;
  height: auto;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  max-height: 240px;
  overflow-y: auto;
}
.options-container label {
  display: flex;
  cursor: pointer;
  padding: 8px;
  /* margin-top: 5px; */
  user-select: none;
  gap: 8px;
  border-top: solid 1px #eee;
  font-family: Inter;
  font-size: 14px;
}

.options-container label:hover{
  background: #ededed;
}

.options-container::-webkit-scrollbar {
  width: 3px;
}
.options-container::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
}
.modalViewFlight{
  display: none;
}
