.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
  }

  /* Conteúdo do modal */
  /* .modal-content{
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
  } */

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1000; /* Coloca o modal acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
  font-family: Inter;
}


.modal-content {
  background: #FEFEFE;;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 90%;
  max-width: 600px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  overflow: hidden;
  overflow-y: auto;
  clip-path: border-box;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;

}
.close-btn {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  font-size: 30px;
  cursor: pointer;
  color: #888;
}

.close-btn:hover {
  color: #333;
}

.head-label{
  color: #1E1E1E;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.264px;
  align-self: stretch;
}
.ataLabel{
  color: #1E1E1E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
}

.title-form{
  color: #1E1E1E;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.132px;
}
.Titulo-input{
  display: flex;
  flex: 1 0 0;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
  border: none;
  font-size: 14px;
  min-width: 240px;
}

.objetivo-input{
  display: flex;
  resize: none;
  border: none;
  font-family: Inter;
  width: 100%;
  height: 114px;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
  font-size: 14px;
}
.status-data{
  display: flex;
  /* justify-content: space-evenly; */
  align-items: self-end;
  gap: 16px 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
.option_field{
  display: flex;
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
  border: none;
}
.data-input{
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #F2F2F2;
  border: none;
}
.button-form{
  display: flex;
  /* height: 33px; */
  /* width: 100%; */
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  background: #1F1A99;
  color: #FEFEFE;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18px */
  letter-spacing: -0.132px;
  border: none;
  margin-top: -32px;
}

.plus-people{
  all: unset;
  display: flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: 2px solid #FEFEFE;
  background-color: #0075F6;
  cursor: pointer;
  z-index: 5;
}

.remove-selected{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(215, 0, 0, 0.46);
  width: 32px;
  height: 32px;
}

.description-task{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
  min-width: 120px;
}

@media (max-width: 480px) {
  .modal-content{
    padding: 16px;
    max-height: 98%;
    max-width: 95%;
  }
  
}


.people-meeting-card{
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 8px;
  gap: 8px -8px;
  align-self: stretch;
  flex-wrap: wrap;
  margin-left: -8px;
}

.people-img{
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.pic-responsible{
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  outline: 2px solid #f2f2f2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  overflow: hidden;
  margin-left: -6px;
  border-radius: 500px;
  /* border: 2px solid #F2F2F2; */
  background: #DDD;
  color: #8A8A8A;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.132px;
  position: relative;
  cursor: pointer;
}


.photo-view-task{
  object-fit: cover;

}

.reuniao-online{
  display: flex;
  width: fit-content;
  
}

.local-input{
  /* all: unset; */
  background: none;
  box-shadow: none;
  border: none;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  outline: none;
  
}

.local-input:focus{
  outline: none;

}

.Titulo-input:focus-within{
  outline: solid 2px black;
}