
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
}
html,
body {
  margin: 0px;
  height: 100%;
 
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.minhaconta-page {
    display: flex;
    height: 832px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 80px 120px;
    position: relative;
    background-color: #f2f2f2;
    width: 100%;
    min-width: 1280px;
  }
  
  .minhaconta-page .central-minha-conta {
    display: flex;
    flex-direction: column;
    width: 985px;
    align-items: center;
    gap: 32px;
    padding: 80px;
    position: relative;
    margin-bottom: -1025.00px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 53.6px #1e1e1e17;
  }
  
  .minhaconta-page .inicio-perfil-user {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    gap: 24px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .minhaconta-page .foto-perfil {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #d2d2d2;
    border-radius: 120px;
  }
  
  .minhaconta-page .tag-img {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 100px;
    border-radius: 120px;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .minhaconta-page .change-pic-bar {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 75px;
    left: 75px;
  }
  
  .minhaconta-page .infos-membro {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .minhaconta-page .text-wrapper {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #36b5ff;
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 21px;
  }
  
  .minhaconta-page .div {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #1e1e1e;
    font-size: 18px;
    letter-spacing: -0.20px;
    line-height: 27px;
  }
  
  .minhaconta-page .infos-cargo-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .minhaconta-page .p {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #686868;
    font-size: 12px;
    letter-spacing: -0.13px;
    line-height: 18px;
  }
  
  .minhaconta-page .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #808080;
    font-size: 12px;
    letter-spacing: -0.13px;
    line-height: 18px;
  }
  
  .minhaconta-page .meus-dados {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .minhaconta-page .form-principal-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid;
    border-color: #dadada;
  }
  
  .minhaconta-page .name-data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex: 0 0 auto;
    position: relative;
    align-self: stretch;
  }
  
  .minhaconta-page .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.22px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .minhaconta-page .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .minhaconta-page .div-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .minhaconta-page .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #808080;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
  }
  
  .minhaconta-page .div-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 8px;
  }
  
  .minhaconta-page .text-wrapper-5 {
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    position: relative;
    flex: 1;
    align-self: stretch;
    margin-top: -1.00px;
    color: #1e1e1e;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .minhaconta-page .user-contato {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .minhaconta-page .div-3 {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .minhaconta-page .name-data-2 {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .minhaconta-page .div-wrapper-2 {
    padding: 12px 16px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 8px;
  }
  
  .minhaconta-page .text-wrapper-6 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    position: relative;
    flex: 1;
    align-self: stretch;
    margin-top: -1.00px;
    color: #1e1e1e;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .minhaconta-page .botoes {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  
  .minhaconta-page .botao-login {
    gap: 8px;
    background-color: #1f1a99;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 8px;
  }
  
  .minhaconta-page .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #f2f2f2;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .minhaconta-page .botao-cancelar {
    border: 1px solid;
    border-color: #717171;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 8px;
  }
  
  .minhaconta-page .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1e1e;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .minhaconta-page .form-principal {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: flex-start;
    gap: 32px;
    padding: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid;
    border-color: #dadada;
  }
  
  .minhaconta-page .text-wrapper-9 {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #fe0000;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
  }
  
  .password-field:invalid {
    border-color: red;
  }
  
  .password-field:valid {
    border-color: green;
  }
  
  .botao[disabled] {
    background-color: gray;
    cursor: not-allowed;
  }

  .div-2 .password-field {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #F6F6F6;
    border: none;
   }