@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* cores: */
    --light-bg: #f2f2f2;
    --gray-text1:  #B1B1B1 ;
    --gray-text2: #85858585;
    --black: #1e1e1e;
    --color1: #0075F6;
    --color2: #1F1A99;
    --color3:  #010032;
    --color-input: #ffffff;
    /* fontes: */
    --font-Inter:"Inter", sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-bg);
}
.container{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.container-central-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}
.btn-back{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F2F2F2;
}
.central-login-inputs{
    display: flex;
    /* padding: 40px 0px 80px 0px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}
.apresentation-texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.greeting-login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}
.greeting-login-h1{
    color: var(--color1);
    font-family: var(--font-Inter);
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 104%; /* 66.56px */
    letter-spacing: -0.704px;
}
.greeting-login-h1-colorizer{
    color: var(--color2);
    font-family: var(--font-Inter);
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 104%;
    letter-spacing: -0.704px;
}
.greeting-login-h2{
    color: var(--color3);
    font-family: var(--font-Inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: -0.264px;
}
.apresentation-text-h3{
    align-self: stretch;
    color: var(--gray-text1);
font-family: var(--font-Inter);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */
letter-spacing: -0.22px;
}
.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}
.form-login-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}
.container-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.forgot-my-password{
    color: var(--gray-text2);
    text-align: right;
    font-family: var(--font-Inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.132px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    align-self: stretch;
    text-decoration: none;
}
.inputs-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.inputs-box div{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.inputs-box p{
    color: var(--black);
    font-family: var(--font-Inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
    align-self: stretch;
}
.inputs-box input{
    display: flex;
    width: 100%;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--color-input);
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: var(--gray-text2);
    font-family: var(--font-Inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.132px;
}
.btn-login{
    cursor: pointer;
    display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
align-self: stretch;
border-radius: 8px;
background: var(--color2);
color: var(--light-bg);
text-align: center;
font-family: var(--font-Inter);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
letter-spacing: -0.176px;
border: none;
}
.container-ilustration{
flex-shrink: 0;
background: linear-gradient(132deg, #36B5FF 23.36%, #01A2FF 96.8%);
    position: relative;
    overflow: hidden;
}
/* .img-cloud,
.img-planner,
.img-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}
.img-cloud {
    z-index: 1; 
    opacity: 0.7;
    animation: moveCloud 10s linear infinite; 
}

@keyframes moveCloud {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
.img-shape {
    z-index: 2;
}

.img-planner {
    width: 550px;
height: 543px;
    z-index: 3;
    animation: moveY 2s ease-in-out infinite alternate;
}

@keyframes moveY {
    0% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(20px); 
    }
}  */
