{% load static %}
{% for announcement in announcements %}
<div class="announcement">
    <div class="headerAnnouncement">
        <div class="profileAnnouncement">
            <div class="profilePicture">
                <img class="profileImage" src="{% static 'img/example_profile.png' %}" alt="Erro ao carregar imagem">
            </div>
            <div class="nameHour">
                <p id="name">{{ announcement.member.fullname }}</p> <!-- Nome do membro associado -->
                <p id="hour">Há {{ announcement.posted_at|timesince }}</p> <!-- Tempo desde a postagem -->
            </div>
        </div>
        <div class="trashIcon">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="..." fill="#D70000"/>
            </svg>                    
        </div>
    </div>
    <div class="bodyAnnouncement">
        <p class="titleBodyAnnouncement">{{ announcement.title }}</p> <!-- Título do anúncio -->
        <p class="textBodyAnnouncement">{{ announcement.description }}</p> <!-- Texto do anúncio -->
    </div>
</div>
{% endfor %}